<!doctype html>
<html>
<head>
    <title>Browse</title>
     <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link rel="stylesheet" href="/assets/css/style.css">

     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<<<<<<< HEAD
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
=======
     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular.min.js"></script>
>>>>>>> origin/master

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous">
    </script>   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script>
    
</head>
<body>
    <div class="container-fluid" id="greenBannerSmall">
        <div class="container">
            <!--Navigation row -->
            <div class="row top-buffer"></div>
            <div class="row">
                <div class="col-md-5 col-md-offset-1">
                    <h3 id="navLogo">HEAVY GARBAGE TINDER</h3>
                </div>
            </div>            
            <div class="row">
                <div class="col-md-1 col-md-offset-7" id="navLinks">
                    <a href="/post">POST</a>
                </div>
                <div class="col-sm-1" id="navLinks">
                    <a href="/browse">BROWSE</a>
                </div>
                <div class="col-sm-1" id="navLinks">
                    <a href="#" data-toggle="modal" data-target="#register">LOGIN</a>    
                </div> 
            </div>
        </div>
    </div>

<div class="separator"></div>


<div class="container">
    <div class="row frontPageContent">
        <div class="modal fade" tabindex="-1" role="dialog" data-toggle="modal" data-target="#myModal" id="register">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Register with an Email</h4>
                    </div>
                    <div class="modal-body">
                        <!-- LOGIN FORM -->
                        <form action="/signup" method="post">
                            <div class="row">
                                <div class="col-md-1"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></div>
                                <div class="col-md-10">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="exampleInputName2" name="name" placeholder="Name">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-1"><span class="glyphicon glyphicon-envelope registerIcon" aria-hidden="true" id="registerE"></span></div>
                                <div class="col-md-10">
                                    <div class="form-group">

                                        <input type="email" class="form-control" id="exampleInputEmail2" name="email" placeholder="E-mail">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-1"><span class="glyphicon glyphicon-lock registerIcon" aria-hidden="true" id="lock"></span></div>

                                <div class="col-md-10">
                                    <div class="form-group">
                                        <input type="password" class="form-control" id="exampleInputName2" name="password" placeholder="Password">
                                    </div>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-warning btn-lg btnSignUp">Signup</button>
                        </form>
                    </div>
                    <div>

                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <div class="modal fade" tabindex="-1" role="dialog" data-toggle="modal" data-target="#myModal" id="signin">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Login</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <form action="/login" method="post">

                                    <div class="row">
                                        <div class="col-md-1"><span class="glyphicon glyphicon-envelope registerIcon " aria-hidden="true" id="registerE"></span></div>
                                        <div class="col-md-10">
                                            <div class="form-group">

                                                <input type="email" class="form-control" id="exampleInputEmail2" name="email" placeholder="E-mail">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-1"><span class="glyphicon glyphicon-lock registerIcon" aria-hidden="true" id="lock"></span></div>

                                        <div class="col-md-10">
                                            <div class="form-group">
                                                <input type="password" class="form-control" id="exampleInputName2" name="password" placeholder="Password">
                                            </div>
                                        </div>
                                    </div>

                                    <button type="submit" class="btn btn-warning btn-lg btnSignUp">Login</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">

                        <h4 class="modal-title">Login with:</h4>
                        <br>
                        <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
                        <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google+</a>

                    </div>

                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

<div class="container">

    <h1><span class="fa fa-sign-in"></span> Browse View</h1>

</div>
    

</body>
</html>